body {
  overflow-x: hidden !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6, header, button {
  font-family: 'Josefin Sans', sans-serif;
}

#release-version {
  min-height: 35px;
}

header {
  background: linear-gradient(#252780,#b061d0);
  height: calc(100vh - 35px);
  margin-bottom: 100px;
  padding-top: 10px;
}

header {
	color: #fff;
	background: linear-gradient(-45deg, rgb(242, 96, 255), rgb(175, 12, 148), rgb(189, 30, 43), rgb(145, 11, 100));
	background-size: 400% 400%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

nav {
    background:  transparent;
    box-shadow: none;
}

div#logo-center {
  text-align:  center;
  margin: 80px 0;
}

section#intro {
  margin-top: 100px;
}

#intro p {
  font-size: 30px;
  /* margin: 90px 0; */
}

#features {
  margin-top: 50px;
  margin-bottom: 50px;
}

#features img {
  width: 60px;
}

#features > h1 {
  margin-bottom: 70px;
}

#features .feature-img-container {
  margin: 0 auto;
  text-align: center;
}

.feature {
  margin-top: 30px;
}

#load-patreon * {
  vertical-align:  middle;
}

#load-install {
  background: #a247f4 !important;
}

#load-install, #load-patreon {
  margin: 50px 0;
}

footer.page-footer {
  background: linear-gradient(315deg, #b061d0, #252780);
}

footer ul li {
  margin: 10px 0;
}

footer .footer-copyright a {
  margin-left: 30px;
}

footer > .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.code {
  background: #111;
  color:  #fff;
  padding: 15px;
  border-radius: 3px;
  width: fit-content;
  text-align: left;
}

.code span.comment {
  color:  #777;
}

.code span.command {
  color: #f9a7f9;
}

.code span.script {
  color: #83beed;
}

.footer-copyright .container {
  padding: 6px 0;
}

.footer-copyright * {
  vertical-align:  middle;
}
